# Virtual environment
.venv/
venv/
env/

# Python
___pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Testing
.coverage
.pytest_cache/
htmlcov/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
thumbs.db